.grid {
  width: 55%;
  height: 530px;
  margin: auto;
}

.grid > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cell {
  flex-basis: 30.5%;
  height: 160px;
  margin: 12px 0 5px;
  font: 40px Impact;
  border-radius: 10px;
  background-color: #8b4513;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mole::after {
  content: "M";
}

.container_game3 {
  width: 70%;
  height: 600px;
  margin: 100px auto;
}

.score {
  text-align: center;
  font: 28px Arial;
  margin-top: 30px;
}
